<%- include('../partials/header') %>
<section>
    <h1>All Tacos</h1>

    <a href="/tacos/new">New</a>
        <h2>Tacos</h2>
        <% for (key in tacos) {%>
            <hr>
            <h3><%= tacos[key].name %></h3>
            <h4><%= tacos[key].protein %></h4>
            <p><%= tacos[key].garnish %></p>
            <a href='/tacos/<%= key %>'><button>Show</button></a>
            <br>
            <br>
            <a href='/tacos/<%= key %>/edit'><button>Edit</button></a>
            <br>
            <br>
            <form method="POST" action="/tacos/<%= key %>?_method=DELETE">
            <button class="delete" type="submit">Delete</button>
            </form>
            <hr>
            <br>
        <% } %>
</section>
<%- include('../partials/footer') %>
