<%- include('../partials/header') %>

<h1>Update This Piroshki</h1>

<form action="/piroshki/<%= id %>?_method=PUT" method="POST">
    <label>Piroshki Name</label>
    <input type="text" name="piroshkiName" value="<%= piroshki.name %>"><br>
    <br>
    <label>Piroshki Filling</label>
    <input type="text" name="piroshkiFilling" value="<%= piroshki.filling %>"><br>
    <br>
    <label>Piroshki Size</label>
    <input type="text" name="piroshkiSize" value="<%= piroshki.size %>"><br>
    <br>
    <input type="submit" value="Update This Piroshki">
</form>

<%- include('../partials/footer') %>
